# Бинарные файлы и плагины
*.so
*.dll
*.exe
*.out
*.a
*.o
file_converter
file_converter.exe

# Логи
*.log

# Конфиги пользователя
*.user
*.swp

# Кэш IDE
.vscode/
.idea/

# Файлы тестов и временные файлы
*.tmp
*.bak
*.old